<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Course Recommendation | Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Udemy Course Recommendation System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <!-- Number of Subscribers Domain Wise -->
            <div class="col-md-6 col-lg-4">
                <div class="card-body">
                    <label>Number of Subscribers Domain Wise</label>
                    <div class="chart-container">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>

            <!-- Number of Courses Level Wise -->
            <div class="col-md-6 col-lg-4">
                <div class="card-body">
                    <label>Number of Courses Level Wise</label>
                    <div class="chart-container">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
            </div>

            <!-- Number of Subscribers Year Wise -->
            <div class="col-md-6 col-lg-4">
                <div class="card-body">
                    <label>Number of Subscribers Year Wise</label>
                    <div class="chart-container">
                        <canvas id="chart3"></canvas>
                    </div>
                </div>
            </div>

            <!-- Profit Year Wise -->
            <div class="col-md-6 col-lg-4">
                <div class="card-body">
                    <label>Profit Gained Year Wise</label>
                    <div class="chart-container">
                        <canvas id="chart4"></canvas>
                    </div>
                </div>
            </div>

            <!-- Profit Month Wise -->
            <div class="col-md-6 col-lg-4">
                <div class="card-body">
                    <label>Profit Earned Month Wise</label>
                    <div class="chart-container">
                        <canvas id="chart5"></canvas>
                    </div>
                </div>
            </div>

            <!-- Subscribers Count Month Wise -->
            <div class="col-md-6 col-lg-4">
                <div class="card-body">
                    <label>Subscribers Count Month Wise</label>
                    <div class="chart-container">
                        <canvas id="chart6"></canvas>
                    </div>
                </div>
            </div>

            <!-- Number of Subscribers enrolled per subject category -->
            <div class="col-12">
                <div class="card-body">
                    <label>Number of Subscribers enrolled per subject category</label>
                    <div class="chart-container">
                        <canvas id="chart7"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="valuecounts" style="display:none;">{{ valuecounts|tojson|safe }}</div>
    <div id="levelcounts" style="display:none;">{{ levelcounts|tojson|safe }}</div>
    <div id="subjectsperlevel" style="display:none;">{{ subjectsperlevel|tojson|safe }}</div>
    <div id="subscriberscountmap" style="display:none;">{{ subscriberscountmap|tojson|safe }}</div>
    <div id="yearwiseprofitmap" style="display:none;">{{ yearwiseprofitmap|tojson|safe }}</div>
    <div id="profitmonthwisemap" style="display:none;">{{ profitmonthwise|tojson|safe }}</div>
    <div id="monthwisesubmap" style="display:none;">{{ monthwisesub|tojson|safe }}</div>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="js/scripts.js"></script>
</body>

</html>