<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Course Recommendation | Home</title>
</head>

<body>

    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="https://byteblasterhack2skill.vercel.app/#home" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <span class="ml-3 text-xl">Resourcio</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a href="/" class="mr-5 hover:text-gray-900">Home</a>
                <a href="/dashboard" class="mr-5 hover:text-gray-900"></a>
            </nav>
        </div>
    </header>

    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex md:flex-row flex-col items-center">
            <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Machine Learning Project
                    <br class="hidden lg:inline-block">Udemy Course Recommendation System
                </h1>
                <p class="mb-8 leading-relaxed">We will analyze flight fare prediction using a machine learning dataset by applying key exploratory data analysis techniques. Based on features such as airline type, arrival time, departure time, flight duration, source, and destination, we will generate predictions about flight prices.</p>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <img class="object-cover object-center rounded" alt="hero" src="{{ url_for('static', filename='img/bg7.jpg') }}">
            </div>
        </div>
    </section>

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h4 class="jumbotron-heading">Enter The Name of the Course for Recommendations</h4>
                <div class="form-floating my-4">
                    <form action="/" method="POST">
                        <div class="mb-3">
                            <input name="course" type="text" class="form-control" id="course">
                        </div>
                        <button type="submit" class="btn btn-primary">Recommend</button>
                    </form>
                </div>
                {% if showtitle %}
                    <h4 class="jumbotron-heading">Recommendations for Course <span style="color: red; font-size:1.5rem;">"{{ coursename }}"</span> are shown below</h4>
                {% endif %}
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                {% if showerror %}
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">Seems like the course for {{ coursename }} is not available currently. We'll report it to the Course Administrator for uploading the course :)</p>
                            <a href="/" class="btn btn-primary">Home Page</a>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    {% for course in coursemap %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body bg-dark">
                                    <p class="card-text" style="color:white;">{{ course }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ coursemap[course] }}" target="_blank" class="btn btn-outline-danger" style="color: white;">View Course</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <span class="ml-3 text-xl">Course Recommendation</span>
            </a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>